@using Dominos.Web.UI.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginViewModel

<form asp-controller="Login" asp-action="Login" method="post">

</form>