/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.bg-dominos-main {
    background-color: #F3EBE9;
}

.bg-red {
    background-color: #D00A2D;
}

.border-dominos {
    border-color: rgba(172,172,172, .5) !important;
}

.pizza-image-size {
    height: 190px;
}

.margin-top-54{
    margin-top:54px;
}

.home-header-image-height{
    height:382px;
}

.home-product-margin-bottom{
    margin-bottom:15px;
}

.product-radius{
    border-radius:25px !important;
}

.product-height{
    height:380px;
}

.basket-radius{
    border-radius:25px;
}

.pizza-image {
    height: 190px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.home-product {
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.product-button {
    border-radius: 25px;
    height: 30px;
    width: 100px;
    padding: 0px !important;
}

.product-price {
    color: orange;
    text-align: center;
    font-size: 30px;
}

.product-detail {
    padding: 30px 25px 30px 25px;
}

.product-name {
    font-size: 21px;
}

.product-description {
    font-size: 14px;
    height: 60px;
}

.basket-button {
    border-radius: 20px;
    color: white !important;
    padding: 4px 10px 4px 10px;
    border-color: white;
}

.login-margin {
    margin-bottom: 10px;
}

.border-dominos-home {
    border-color: rgba(172,172,172, .5) !important;
    height: 380px;
    width: 300px;
    border-radius: 25px !important;
}