@using Dominos.Web.UI.Models.Basket;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BasketViewModel

<form asp-controller="Basket" asp-action="Index" method="post">

</form>